* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-family-button: 'Courier New', monospace;
  --font-family-regular: "DM Mono", monospace;
  --font-family-header: "EB Garamond", serif;
  --base-line-height: 1.5;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --black: #39392D;
  --border: #2A2A2A;
  --off-white: #F3EBD8;
  --manila: #F2D174;
  --highlightBlue: #446793;
  --highlightGreen: #15B097;
  --highlightPink: #DD99BB;
  --warningRed: #E95C49;
}

body {
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: var(--black);
  background-color: var(--off-white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header);
  line-height: 1.25;
}

.brand {
  font-family: var(--font-family-header);
  display: inline;
  line-height: 1.25;
  text-decoration: none; 
  background-image: linear-gradient(to right, var(--highlightGreen) 33%, var(--highlightPink) 33% 66%, var(--highlightBlue) 66%);
  background-position: 0 80%;
  background-size: 100% 4px;
  background-repeat: no-repeat;
  padding-bottom: 4px;
}

p,
label {
  font-family: var(--font-family-regular);
  font-size: var(--base-font-size);
}

button {
  background-color: var(--black);
  color: var(--off-white);
  border: 1px solid var(--border);
  font-family: var(--font-family-button);
  font-weight: 500;
  text-transform: uppercase;
  margin: 4px 8px;
  letter-spacing: 0.5px;
  padding: 8px 16px;
  cursor: pointer;
}

input[type=text] {
  padding: 12px 20px;
  width: 30%;
  margin: 8px;
  font-family: var(--font-family-regular);
  background-color: var(--off-white);
  font-size: 16px;
  border: 1px solid var(--black);
  text-transform: uppercase;
}

select {
  padding: 12px 20px;
  cursor: pointer;
  font-family: var(--font-family-regular);
  font-size: 16px;
  background-color: var(--off-white);
  border: 1px solid var(--border);
}

input[type=text]:focus {
  outline: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--black);
  width: 100%;
  margin: 10px auto;
}

.secondaryButton {
  background-color: transparent;
  color: var(--black);
  border: 1px dashed var(--black);
  font-size: 16px;
  padding: 6px 14px;
  text-transform: uppercase;
}

.secondaryButton.edit {
  margin-top: 12px;
}

.secondaryButton.add {
  margin-bottom: 12px;
}

.secondaryButton:hover {
  background-color: rgba(0,0,0,0.05);
  border-style: solid;
  border-color: var(--black);
}

.deleteButton {
  border-color: var(--warningRed);
  transform: rotate(-2deg);
}

.deleteButton:hover {
  border-color: var(--warningRed);
}