.parent {
    margin-bottom: 12px;
}

.chapter {
    padding: 13px;
    background-color: var(--black);
    color: var(--off-white);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.edit {
    margin-top: 12px;
}

.content {
    margin: 12px;
    overflow: auto;
}

.name {
    font-size: 24px;
    background-color: var(--highlightYellow);
    padding: 4px 6px 8px ;
    margin-right: 6px;
    float: left;
}

.centralName {
    font-size: 24px;
    background-color: var(--highlightOrange);
    padding: 4px 6px 8px ;
    margin-right: 6px;
    float: left;
}

.description {
    font-size: 20px;
    margin: 2px 3px;
    text-align: left;
}