.parent {
    margin-bottom: 12px;
}

.chapter {
    padding: 13px;
    width: 90%;
    background-color: #242424;
    color: #ECECEC;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.content {
    margin: 12px;
    overflow: auto;
}

.name {
    font-size: 24px;
    background-color: #EADFCD;
    border: 1px solid #242424;
    padding: 4px 6px 8px ;
    margin-right: 6px;
    float: left;
}

.description {
    font-size: 20px;
    margin: 2px 3px;
    text-align: left;
}