.parent {
  margin: 12px;
}

.contentWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
  margin-top: 24px;
}

.contentWrapper.expanded {
  grid-template-rows: 1fr;
}

.contentInner {
  overflow: hidden;
}

.chapter {
  position: relative;
  padding: 20px 24px;
  background-color: var(--manila);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid var(--black);
  margin: 12px auto;
  transform: rotate(-0.2deg);
  box-shadow:
    0 1px 0 rgba(0, 0, 0, 0.05),
    0 0 0 0.5px rgba(0, 0, 0, 0.03);
}

.chapter.open,
.chapter.open::before {
  background-color: #d8c89a;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);

}

.chapter::before {
  content: attr(chapter-label);
  position: absolute;
  top: -12px;
  left: 16px;
  background-color: var(--manila);
  color: var(--black);
  padding: 4px 18px;
  font-size: 12px;
  border: 1px solid var(--black);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: var(--font-family-regular);
}

.content {
  margin: 12px;
  overflow: auto;
}

.name {
  font-size: 24px;
  padding: 4px 6px 8px;
  margin-right: 6px;
  float: left;
}

.centralName {
  font-size: 24px;
  background-color: var(--highlightBlue);
  color: white;
  padding: 4px 6px 8px;
  margin-top: 6px;
  margin-right: 10px;
  float: left;
}

.description {
  font-size: 18px;
  margin: 6px 3px;
  text-align: left;
}