.flexParent {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
    padding: 1rem;
}

.name {
    font-size: 24px;
    background-color: var(--highlightYellow);
    padding: 4px 6px 8px ;
}

.centralName {
    font-size: 24px;
    background-color: var(--highlightOrange);
    padding: 4px 6px 8px ;
}

.description {
    font-size: 20px;
    margin: 2px 3px;
    text-align: left;
}

.chapter {
    padding: 13px;
    background-color: var(--black);
    color: var(--off-white);
    margin-bottom: 10px;
}