.parent {
    margin-top: 24px;
    width: 90%;
}

.glossarySection {
    margin-top: 18px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.icon {
    font-size: 45px;
}